body {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p, header {
  text-align: center;
}
h1, h2, h3 {
  text-align: center;
  color: antiquewhite;
}
footer {
  border: 2px solid seashell;
  background-color: springgreen;
  max-width: auto;
  padding: 10px;
  text-align: center;
}
.f-body {
  font-size: 120%;
  font-weight: bold;
}
img {
border-radius: 30px 0;
width: 300px;
}
.image-caption {
  border-radius: 10px;
  border: 1px solid greenyellow;
  padding: 5px;
}
.container {
width: auto;
height: auto;
padding: 5px;
}
.caption {
background-image: linear-gradient(green,yellow,rgb(236, 40, 40));
padding: 0 5px;
}
.caption-center {
  border-radius: 10px;
  border: 1px solid greenyellow;
  padding: 10px 14px 0 14px;
}