body {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p, header {
  text-align: center;
}
img {
border-radius: 50%;
width: 300px;
}
.container {
width: auto;
height: auto;
border: 3px solid yellow;
}
.caption {
border: 2px solid green;
}
.caption-center {
  border: 2px solid salmon;
}